@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

/*@theme {
  --color-fd-background: oklch(98.5% 0 0);
  --color-fd-foreground: oklch(27.4% 0.006 286.033);
  --color-fd-muted: oklch(98.5% 0 0);
  --color-fd-muted-foreground: oklch(44.2% 0.017 285.786);
  --color-fd-popover: oklch(100% 0 0);
  --color-fd-popover-foreground: oklch(44.2% 0.017 285.786);
  --color-fd-card: oklch(100% 0 0);
  --color-fd-card-foreground: oklch(27.4% 0.006 286.033);
  --color-fd-border: oklch(87.1% 0.006 286.286 / 50%);
  --color-fd-primary: oklch(48.8% 0.243 264.376);
  --color-fd-primary-foreground: oklch(97% 0.014 254.604);
  --color-fd-secondary: oklch(96.7% 0.001 286.375);
  --color-fd-secondary-foreground: oklch(44.2% 0.017 285.786);
  --color-fd-accent: oklch(94% 0.004 286.32);
  --color-fd-accent-foreground: oklch(21% 0.006 285.885);
  --color-fd-ring: oklch(37% 0.013 285.805);
}

.dark {
  --color-fd-background: hsl(0, 0%, 7.04%);
  --color-fd-foreground: hsl(0, 0%, 92%);
  --color-fd-muted: hsl(0, 0%, 12.9%);
  --color-fd-muted-foreground: hsla(0, 0%, 70%, 0.8);
  --color-fd-popover: hsl(0, 0%, 11.6%);
  --color-fd-popover-foreground: hsl(0, 0%, 86.9%);
  --color-fd-card: hsl(0, 0%, 9.8%);
  --color-fd-card-foreground: hsl(0, 0%, 98%);
  --color-fd-border: hsla(0, 0%, 40%, 20%);
  --color-fd-primary: hsl(0, 0%, 98%);
  --color-fd-primary-foreground: hsl(0, 0%, 9%);
  --color-fd-secondary: hsl(0, 0%, 12.9%);
  --color-fd-secondary-foreground: hsl(0, 0%, 92%);
  --color-fd-accent: hsla(0, 0%, 40.9%, 30%);
  --color-fd-accent-foreground: hsl(0, 0%, 90%);
  --color-fd-ring: hsl(0, 0%, 54.9%);
}*/
